@font-face {
  font-family: 'MonAmourOne';
  font-style: normal;
  font-weight: medium;
  src: local('Sans-serif'), url('assets/fonts/MonAmour1.ttf') format('truetype'); /* все современные браузеры */
  font-display: swap;
}

html {
  font-size: 16px;
  background-color: #e4f1ff;
  /* border: 2px solid black; */
}

